<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    
    <form action="/add" method="post">
    
        <div class="form group">

            <label for="driverId">Driver Id</label>
            <input type="text" id="driverId" name="driverId" class="form control" >

        </div>

        <div class="form group">

            <label for="driverName">Driver Name</label>
            <input type="text" id="driverName" name="driverName"  class="form control" >

        </div>

        <div class="form group">

            <label for="drivingRoute">Driver Route</label>
            <input type="text" id="drivingRoute" name="drivingRoute" class="form control" >

        </div>

        <div class="form group">

            <label for="visitMonth">Month Visiting</label>
            <input type="text" id="visitMonth" name="visitMonth" class="form control" >

        </div>

        <div class="form group">

            <label for="visitCount">Number of Visits</label>
            <input type="text" id="visitCount" name="visitCount" class="form control" >

        </div>

        <div class="form group">

            <label for="salary">Salary</label>
            <input type="text" id="salary" name="salary"  class="form control" >

        </div><br><br>

        <button type="submit" class="btn btn-success">Submit </button>
    
    </form>

</body>
</html>